.cardDummy {
  position: absolute;
  display: inline-block;
  width: var(--wCard);
  height: var(--hCard);
	background-color: red;
	/* background-color: #fff; */
  /* -webkit-border-radius: 4px; */
	border-radius: 4px; 
	
	/* z-index: -10; */

  /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15); */
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.15); */
	/* box-shadow: 13px 13px 0px 0px #ccc;   */
	/* cursor: default; */
}
.deckBase{
  position: absolute;
  display: inline-block;
  width: var(--wCard);
  height: var(--hCard);
  background-color: rgba(0,0,0,0.15);
  -webkit-border-radius: 4px;
	border-radius: 4px;
	/* z-index: 100; */
}
.cardBack {
  position: absolute;
  display: inline-block;
  width: var(--wCard);
  height: var(--hCard);
  background-color: #fff;
  -webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid lightgrey;
  background-image: url("faces/back.png");
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
	cursor: default;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
}
