/* TODO */
.area {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 0;
	overflow: auto;
}
.area > p {
	min-width: 180px;
	margin: 3px 10px;
}
.header_name{
	border-radius:5px;
	display:inline;
	margin:6px 5px 2px 2px;
	padding:2px 10px 4px 10px;
}
/* #region areas */
#a_d_header {
	width:100%;
	grid-area: h;
	/* box-sizing: borderBox; */
	text-align: center;
	/* background-color: var(--bgT); */
}
#a_d_header span{
	padding: 4px 10px;
	margin: 4px;
	border-radius: 10px;
}
#a_d_action_header {
	grid-area: ah;
	text-align: center;
	/* background-color: var(--bgA); */
}
#a_d_status {
	grid-area: s;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-color: var(--bgS); */
}
#a_d_history_header {
	grid-area: hh;
	text-align: center;
	/* background-color: var(--bgL); */
}
#a_d_player_header {
	grid-area: hp;
	text-align: center;
	/* background-color: var(--bgL); */
}
#a_d_actions {
	grid-area: a;
	min-width: var(--wActions);
	overflow: hidden;
	/* background-color: rgb(155, 76, 219); */
	/* background-color: var(--bgA); */
}
#a_d_game {
	grid-area: g;
	z-index: 10;
	overflow: visible;
	/* background-color: var(--bgG); */
}
#a_d_log {
	grid-area: l;
	min-width: var(--wActions);
	/* background-color: rgb(233, 222, 73); */
	overflow: auto;
	/* background-color: var(--bgL); */
}
#a_d_player {
	grid-area: p;
	min-width: var(--wActions);
	overflow: auto;
	/* overflow-y: auto;
	overflow-x: hidden; */
	/* background-color: var(--bgT); */
}
#a_d_buttons {
	min-width: var(--wActions);
	width: 100%;
	min-height: 800px;
	grid-area: bl;
	text-align: center;
	/* background-color: var(--bgB); */
}
#a_d_testing {
	width: 100%;
	grid-area: t;
	min-height: 800px;
	text-align: center;
	/* background-color: var(--bgT); */
}
#a_d_options {
	min-width: var(--wActions);
	width: 100%;
	min-height: 800px;
	grid-area: br;
	text-align: center;
	/* background-color: var(--bgO); */
}
#a_d_testing > button {
	width: 120px;
}
/* #endregion areas */

/* #region layout */
.layout1 {
	position: absolute;
	left: 0px;
	top: 0px;
	display: grid;
	grid-template-columns: var(--wActions) var(--wGame) minmax(var(--wPlayers),auto) minmax(var(--wActions),auto);
	grid-template-rows:calc(2*var(--hTabs)) var(--hTabs)  var(--hGame) minmax(800px, auto);
	grid-template-areas:
		'h h h h'
		'ah s hp hh'
		'a g p l'
		'bl t t t';
	grid-gap: 4px;
	background-color: null;
	min-height: 100%;
	width: 100%;
	color: white;
	padding: 4px;
	box-sizing: border-box;
	z-index: -3;
}

