.tab {
	height: var(--hTabs);
	overflow: hidden;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}
.tab button {
	float: left;
	margin: 6px 2px 0px 2px;
	padding: 0px;
	font-size: 14pt;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	border-radius: 12px 12px 0px 0px;
	padding: 4px 12px 0px 12px;
	background-color: transparent;
	transition: 0.3s;
	width: auto;
}

.tab button:hover {
	background-color: #ccc;
}

.tab button.active {
	background-color: var(--bgTabActive);
}

.tabcontent {
	display: none;
	width: 100%;
	height: 95%;
}
.flexWrap{
	/* box-sizing:border-box; */
  display:flex;
	flex: 1;
	padding:0;
	margin:0;
	flex-wrap:wrap;
	/* justify-content: space-evenly; */
}
/* .flexWrap table{
	flex-grow: 1;
	background-color: rgba(0,0,0,0.2);
	margin: 4px;
} */
.flexWrap >div{
	flex-grow: 1;
	background-color: rgba(0,0,0,0.2);
	margin:10px;
	border-radius: 8px;
	padding:4px;
}
.divInTab{
	margin:0;
	padding:0;
	position:absolute;
	top:6%;
	left:1%;
	width:98%;
	height:92%;
  display:flex;
	flex: 1;
	/* background-color:red; */
	background-color: var(--bgTabContent);
	flex-wrap:wrap;
}
