/* .ttipDiv {
	display: inline-block;
	color: white;
	border-radius: 5px;
	background-color: sienna;
	padding: 3px 10px 6px 10px;
	font-family: consolas;
}
#ttipTitle {
	text-align: center;
	color: gold;
	font-weight: bold;
	font-size: 14pt;
}
#ttipLeft {
	color: goldenrod;
	float: left;
	text-align: left;
}
#ttipRight {
	margin-left: 4px;
	float: left;
	text-align: left;
}
.ttdiv{
	padding:4px 10px 6px 10px;
} */
