<!DOCTYPE html>
<html lang="en">

<head>
	<title>RSG</title>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">	 -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<!-- <meta charset="utf-8"> -->
	<link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/facebook/65/game-die_1f3b2.png">
	<link rel="stylesheet" href="/static/front/css/main.css">
	<!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.12.2/js-yaml.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- <body  onresize="myFunction()"> -->
	<script>
		window.onload = () => _start(); // _start |

		var JS_LOBBY = [
			'_config',
			'_start',
			'chat',
			'clear',
			'gameConfig',
			'gameStep',
			'helpers', //old helpers is now: helpers_19
			'identity',
			'login',
			'server',
			'settings',
			'testing',
			'uiHelpers',
			'_work', //TODO

			//ok
		];

		var JS_FILES = [
			'areas',
			'assetlib',
			'behavior',
			'behaviorLibrary',
			'cards',
			'color',
			// 'deck',
			// 'faChars',
			//'glyphs',
			'go',
			'infobox',
			'interact',
			'MS',
			'present',
			'presentation_util',
			'process',
			'structures',
			'userspec',
		];

		var CSS_FILES = [
			// 'favicon',
			'card52',
			'cards',
			'gsm',
			'pageLayout',
			'pageLayoutNew',
			'selectStyle',
			'tabs',
			'tooltips',
			'area_objects',
			'MS',
		];
		var OFFLINE = false; //DO NOT CHANGE! TODO: support offline

		//#region loading
		function scriptLoader(src, dir, isLibrary = false, isOFFLINE = false) {
			let script = document.createElement('script');
			if (isLibrary && isOFFLINE) {
				script.src = src;
			} else {
				let path = '';
				path = (isLibrary ? '/jslibs/' : '/') + dir + '/';
				path += src + '.js';
				script.src = path;
			}
			document.getElementsByTagName('head')[0].appendChild(script);
		}
		function styleLoader(href, dir, isLibrary = false, isOFFLINE = false) {
			let style = document.createElement('link');
			style.rel = href == 'favicon' ? 'shortcut icon' : 'stylesheet';
			if (isLibrary && isOFFLINE) {
				style.href = href;
			} else {
				let path = '';
				path = (isLibrary ? '/csslibs/' : '/') + dir + '/';
				path += href + (href == 'favicon' ? '.ico' : '.css');
				style.href = path;
			}
			document.getElementsByTagName('head')[0].appendChild(style);
		}
		for (const fname of CSS_FILES) styleLoader(fname, 'static/rsg/css', false, OFFLINE);
		for (const fname of JS_LOBBY) scriptLoader(fname, 'static/front/js', false, OFFLINE);
		for (const fname of JS_FILES) scriptLoader(fname, 'static/rsg/js', false, OFFLINE);

		//#endregion

	</script>

	<!-- #region HTML -->
	<!-- login -->
	<div id="a_d_login" class="layout_login" style='display:none;'>
		<div class='logo'>⛱</div>
		<div id='login_message'>welcome! please, log in</div>
		<form id="login_form">
			<input id="login" type='text' autocomplete="on" title="login" placeholder="username" />
			<button id="bLogin" class='buttonLikeLink'>login</button>
		</form>

	</div>

	<!-- lobby -->
	<div id="a_d_lobby" class="layout_lobby" style='display:none'>
		<div id="a_d_header_lobby">
			<h1 class='pageTitle'>Lobby</h1>
			<div class='logo'>⛱</div>
			<div id='loginHeader' style='font-size:14px;float:right'>
				<span id='hUsername'></span>
				<span id='bLogout' style='text-decoration:underline;color:blue;cursor:pointer;margin-right:8px'>logout</span>
			</div>
		</div>

		<div id="a_d_status_lobby">
			<div class="chat_container">
				<ul id="events" class='eventList'></ul>
				<div id="gameConfig" style='display:none'>
					<div class='eventList' id='a_d_main_menu' style='height:290px'>
						<div class='vCenterChildren'>
							<fieldset id='fChooseGame'>
								<!-- TODO: dynamically from server: available_games!!! -->
								<legend>choose game</legend>
								<!-- <input class='radio' id='c_b_mm_ttt' type="radio" name="game" value="ttt" onclick='onClickGamename(this)'>tic tac toe<br>
								<input class='radio' id='c_b_mm_catan' type="radio" name="game" value="catan" onclick='onClickGamename(this)'>catan<br>
								<br />
								<br /> -->
							</fieldset>
							<fieldset id='fChooseMode'>
								<legend>play mode</legend>
								<!-- <input class='radio' id='c_b_mm_solo' type="radio" name="playmode" value="solo" onclick='onClickPlaymode("solo")'>solo<br> -->
								<input class='radio' id='c_b_mm_hotseat' type="radio" name="playmode" value="hotseat" onclick='onClickPlaymode("hotseat")'><span id='span_hotseat'></span>hotseat</span><br>
								<input class='radio' id='c_b_mm_passplay' type="radio" name="playmode" value="passplay" onclick='onClickPlaymode("passplay")'><span id='span_passplay'>P & P</span><br>
								<input class='radio' id='c_b_mm_multiplayer' type="radio" name="playmode" value="multiplayer" onclick='onClickPlaymode("multiplayer")'><span id='span_multiplayer'>multiplayer</span><br>
							</fieldset>
							<fieldset id='fChooseSeed'>
								<legend>seed</legend>
								<input class='input' style='width:60px;' id='c_b_mm_seed' type="number" value=1>
							</fieldset>
							<fieldset id='fChoosePlayers' style='height:220px'>
								<legend>players</legend>
								<input class='radio' id='c_b_mm_pln1' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(1)'><span id='sppl1'>player 1</span><br>
								<input class='radio' id='c_b_mm_pln2' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(2)'><span id='sppl2'>player 2</span><br>
								<input class='radio' id='c_b_mm_pln3' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(3)'><span id='sppl3'>player 3</span><br>
								<input class='radio' id='c_b_mm_pln4' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(4)'><span id='sppl4'>player 4</span><br>
								<input class='radio' id='c_b_mm_pln5' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(5)'><span id='sppl5'>player 5</span><br>
								<input class='radio' id='c_b_mm_pln6' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(6)'><span id='sppl6'>player 6</span><br>
								<input class='radio' id='c_b_mm_pln7' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(7)'><span id='sppl7'>player 7</span><br>
								<input class='radio' id='c_b_mm_pln8' type="checkbox" name="playerNum" onclick='onClickPlayerPresence(8)'><span id='sppl8'>player 8</span><br>
							</fieldset>
							<fieldset id='fChoosePlayerTypes' style='height:220px'>
								<legend>type</legend>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt1'></select><br>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt2'></select><br>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt3'></select><br>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt4'></select><br>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt5'></select><br>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt6'></select><br>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt7'></select><br>
								<select list='allPlayerTypes' class='inputPlayerType' id='c_b_mm_plt8'></select><br>
							</fieldset>

						</div>
					</div>

				</div>
				<div id="joinConfig" style='display:none'>
					<div class='eventList' id='a_d_join_menu' style='height:290px'>
						<div class='vCenterChildren'>
							<fieldset id='fChooseAvailablePlayer'>
								<legend>choose on of</legend>
								<input class='radio' id='c_b_mm_plj1' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(1)'><span id='spplj1'>player 1</span><br>
								<input class='radio' id='c_b_mm_plj2' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(2)'><span id='spplj2'>player 2</span><br>
								<input class='radio' id='c_b_mm_plj3' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(3)'><span id='spplj3'>player 3</span><br>
								<input class='radio' id='c_b_mm_plj4' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(4)'><span id='spplj4'>player 4</span><br>
								<input class='radio' id='c_b_mm_plj5' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(5)'><span id='spplj5'>player 5</span><br>
								<input class='radio' id='c_b_mm_plj6' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(6)'><span id='spplj6'>player 6</span><br>
								<input class='radio' id='c_b_mm_plj7' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(7)'><span id='spplj7'>player 7</span><br>
								<input class='radio' id='c_b_mm_plj8' type="radio" name="plJoinGroup" onclick='onClickAvailablePlayer(8)'><span id='spplj8'>player 8</span><br>
						</div>
					</div>
				</div>
				<div id='status_message'></div>
				<div class="controls">
					<div class="button_wrapper">
						<button id='bJoinGame' class='button'>join game</button>
						<button id='bCreateGame' class='button'>create game</button>
						<button id='bResumeGame' class='button'>resume game</button>
						<button id='bLobbyOk' class='button' onclick='onClickCreateGameOk()' style='display:none'>Ok</button>
						<button id='bLobbyCancel' class='button' onclick='onClickCreateGameCancel()' style='display:none'>Cancel</button>
						<button id='bLobbyJoinOk' class='button' onclick='onClickJoinGameOk()' style='display:none'>Ok</button>
						<button id='bLobbyJoinCancel' class='button' onclick='onClickJoinGameCancel()' style='display:none'>Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<div id='a_d_chat'>
			<div class="chat_container">
				<ul id="chatEvent" class='eventList'>
					<li>hallo</li>
				</ul>
				<div class="controls">
					<div class="chat_wrapper">
						<form id="chat_form">
							<input id="chat" autocomplete="off" title="chat" />
							<button id="say" class='button'>Say</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id='a_d_footer'></div>

	</div>

	<!-- game -->
	<div id="R_d_root" class="layout1" style='display:none;'>
		<div id="a_d_header" class="area">
			<div id='a_d_outerDivGamename' style='float:right;margin:4px;color:dimgray;'>
				Game:
				<div id='a_d_divGamename' class='header_name'>Catan</div>
			</div>
			<div id='a_d_divPlayerNames' style='float:left;margin:4px 10px;color:dimgray'>
				Players:&nbsp;
			</div>
			<div id="c_d_statusInHeaderText" style='color:black;margin:10px'>status</div>
		</div>

		<div id="a_d_action_header" class="area">
			<p>actions</p>
		</div>
		<div id="a_d_status" class="area">
			<div id="c_d_statusText">status</div>
		</div>
		<div id="a_d_history_header" class="area">
			<p>log</p>
		</div>
		<div id="a_d_player_header" class="area">
			<p>players</p>
		</div>

		<div id="a_d_actions" class="area">
			<div id="a_d_divSelect" class="sidenav1"></div>
		</div>
		<div id="a_d_game" class="area"></div>
		<div id="a_d_player" class="area"></div>
		<div id="a_d_log" class="area"></div>

		<div id="a_d_buttons" class="area">
			<button id='c_b_PollStatus' onclick="onClickPollStatus()">poll status</button>
			<br />
			<button onclick="onClickLobby()">lobby</button>
			<br />
			<button id='c_b_Restart' onclick="onClickRestart()">restart</button>
			<br />
			<br />
			<button onclick="onClickUseNoBoardDetection()">plain</button>
			<button onclick="onClickUseNoSpec()">boardDetection</button>
			<button onclick="onClickUseStructures()">spec</button>
			<!-- <button onclick="onClickUseSettings()">settings</button>
			<button onclick="onClickUseStructures()">structures</button> -->
			<button onclick="onClickUseBehaviors()">spec & code</button>
			<br />
			<br />
			<button onclick="onClickReloadSpec()">reload spec</button>
			<br />
			<br />
			<button id='c_b_Step' onclick="if (FLASK) onClickStep(); else console.log('set FLASK=true in game.html!');">STEP</button>
			<button id='c_b_RunToEnd' onclick="onClickRunToEnd()">run to end</button>
			<br />
			<br />
			<button id='c_b_ttt' onclick="onClickTTT()">ttt</button>
			<button id='c_b_catan' onclick="onClickCatan()">catan</button>
			<button id='c_b_areaSizes' style='display:none' onclick="onClickAreaSizes()">sz info</button>
			<br />
			<br />
			<!-- <button id='c_b_CheatDev' onclick="onClickCheat('devcard')">cheat devcard</button>
			<button id='c_b_CheatRob' onclick="onClickCheat('robber')">cheat robber</button> -->

			<button id='c_b_Pass' style='display:none' onclick="onClickPass()">pass</button>
			<button onclick="onClickToggleButton(this,[['view:default',fullViewObjects],['view:minimized',minimizeObjects]])">view:default</button>
			<div id='tempFreezer' style='display:none'>
				<h1>processing...</h1>
				<button id='bStop' class='buttonSpecial' onclick="onClickStop()">STOP!</button>

			</div>
		</div>
		<div id="a_d_testing" class="area">
			<div class="tab">
				<button id='c_b_London' class="tablinks active" onclick="openTabTesting('London')">objects</button>
				<!-- <button id='c_b_Vienna' class="tablinks" onclick="openTabTesting('Vienna')">players</button> -->
				<!-- <button id='c_b_Redmond' class="tablinks" onclick="openTabTesting('Redmond')">main menu</button> -->
				<button id='c_b_Paris' class="tablinks" onclick="openTabTesting('Paris')">spec</button>
				<button id='c_b_Oslo' class="tablinks" onclick="openTabTesting('Oslo')">code</button>
				<button id='c_b_Seattle' class="tablinks" onclick="openTabTesting('Seattle')">settings</button>
				<!-- <button id='c_b_Tokyo' class="tablinks" onclick="openTabTesting('Tokyo')">DIV</button>
				<button id='c_b_Bangor' class="tablinks" onclick="openTabTesting('Bangor')">G</button> -->
			</div>
			<!-- keep this in block display! set default opened tab in settings.js -->
			<div id="a_d_London" class="tabcontent" style="display:block">
				<div id='a_d_objects' class='divInTab' style='position:absolute;left:1%;top:6%;width:98%;height:92%;margin:0;padding:0;'>
					<!-- <svg width='98%' height='92%' style='margin:0;padding:0;position:absolute;top:6%;left:1%;'>
							<g id='go'></g>
						</svg> -->
				</div>
			</div>

			<div id="a_d_Vienna" class="tabcontent">
				<div id='a_d_players' class='divInTab'> </div>
			</div>

			<!-- <div id="a_d_Redmond" class="tabcontent"></div> -->

			<div id="a_d_Paris" class="tabcontent">
				<div class='divInTab' id='a_d_spec' style='overflow-y:auto;text-align:left;'>
					<!-- <textarea id='a_d_spec_content' style='font-size:20px;margin:auto;width:90%;height:90%'></textarea> -->
					<pre id='a_d_spec_content'></pre>
				</div>
			</div>

			<div id="a_d_Oslo" class="tabcontent">
				<div class='divInTab' id='a_d_code' style='overflow-y:auto;text-align:left;'>
					<pre id='a_d_code_content'></pre>
				</div>
			</div>

			<div id="a_d_Seattle" class="tabcontent">
				<div class='divInTab' id='a_d_settings'>
					<fieldset id='a_d_autoplay_buttons'>
						<legend>autoplay</legend>
						<button id='c_b_NextPlayer' onclick="onClickRunToNextPlayer()">next player</button>
						<button id='c_b_NextTurn' onclick="onClickRunToNextTurn()">next turn</button>
						<button id='c_b_NextPhase' onclick="onClickRunToNextPhase()">next phase</button>
						<br />
					</fieldset>
					<fieldset id='a_d_cheat_buttons'>
						<legend>cheats</legend>

					</fieldset>
					<fieldset>
						<legend>miscellaneous</legend>
						<button id="c_b_TTip" onclick="toggleTooltips(this)">tooltips: OFF</button>
						<button onclick="colorSystem()">new colors</button>
					</fieldset>
				</div>
			</div>

			<!-- <div id="a_d_Tokyo" class="tabcontent"><div id='a_d_div_testing' class='divInTab'></div></div>-->
			<!--<div id="a_d_Bangor" class="tabcontent">
				<div id='a_d_G_tester' class='divInTab'>
					<svg class='hidden' width='98%' height='92%' style='margin:0;padding:0;position:absolute;top:6%;left:1%;'>
						<defs>
							<pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
								<image xlink:href="/static/front/assets/wood1.jpg" x="0" y="0" width="300" height="200" />
							</pattern>
						</defs>
						<g id='a_g_testing'>
							<circle cx="50" cy="50" r="50" fill="yellow" />
						</g>
					</svg>
					<svg height="100" width="100" class='hidden'>
						<circle cx="50" cy="50" r="50" fill="url(#img1)" />
					</svg>
				</div>
			</div> -->
		</div>
		<!-- <div id="a_d_options" class="area">/div> -->
	</div>

	<div id="tooltip" class="tooltip" style='position:fixed;'>
	</div>
	<div id='freezer' style='display:none;'>
		<button id='c_b_nextPlayerReady' class='button' onclick='onClickNextPlayerReady()'>PLAY!</button>
		<!-- <h1 id='freezerPassTo'></h1> -->
	</div>
	<div id='passToNextPlayerUI' style='display:none;text-align:center;color:green;background-color:red;'>
		<button id='c_b_passToNextPlayer' class='button' style='margin:10px;' onclick='totalFreeze()'>PASS TO NEXT PLAYER</button>
	</div>
	<!-- #endregion HTML -->

</body>

</html>