<!DOCTYPE html>
<html lang="en">

<head>
	<title>RSG</title>
	<link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/emojidex/112/heavy-black-heart_2764.png" />
	<!-- <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/facebook/65/game-die_1f3b2.png"> -->
	<link rel="stylesheet" href="/static/front/css/main.css">
	<!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" crossorigin="anonymous" /> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.12.2/js-yaml.js" crossorigin="anonymous"></script>
</head>

<body>
	<script>
		window.onload = () => _start();// addEventHandlers | noAction | initLoginScreen | _SYS_START 

		var JS_FILES = [

			// 'old__s',//TODO
			'old_work',//TODO
			'_config',
			'_onClick',
			'_start',
			'_startHotseat',
			'_startMultiplayer',
			'_startSolo',
			'_tRestart',
			'_work',
			'all',
			'areas',
			'behavior',//TODO
			'clear',
			'color',//TODO
			'create',
			'go',//TODO
			'helpers', //TODO: gehoert mal ausgemistet!!!
			'hPresenters',//TODO
			'infobox',
			'interact',
			'interaction_util',
			'MS_tests',//TODO
			'MS',
			'MS_dep',
			'present',
			'presentation_util',
			'process',
			'server',
			'settings',
			'structures',
			'testing',
			// 'tooltips',//TODO
			'userspec',

		];
		var JS_LOBBY = [
			'_start',
			'chat',
			'login',
			'uiHelpers',
		];

		var CSS_FILES = [
			// 'favicon',
			'gsm',
			'pageLayout',
			'pageLayoutNew',
			'selectStyle',
			'tabs',
			'tooltips',
			'area_objects',
			'MS',
		];
		var OFFLINE = false; //DO NOT CHANGE! TODO: support offline
	</script>

	<!-- #region loading -->
	<script>
		function noAction() { console.log('no action!') }
		function scriptLoader(src, dir, isLibrary = false, isOFFLINE = false) {
			let script = document.createElement('script');
			if (isLibrary && isOFFLINE) {
				script.src = src;
			} else {
				let path = '';
				path = (isLibrary ? '/jslibs/' : '/') + dir + '/';
				path += src + '.js';
				script.src = path;
			}
			document.getElementsByTagName('head')[0].appendChild(script);
		}
		function styleLoader(href, dir, isLibrary = false, isOFFLINE = false) {
			let style = document.createElement('link');
			style.rel = href == 'favicon' ? 'shortcut icon' : 'stylesheet';
			if (isLibrary && isOFFLINE) {
				style.href = href;
			} else {
				let path = '';
				path = (isLibrary ? '/csslibs/' : '/') + dir + '/';
				path += href + (href == 'favicon' ? '.ico' : '.css');
				style.href = path;
			}
			document.getElementsByTagName('head')[0].appendChild(style);
		}
		for (const fname of CSS_FILES) styleLoader(fname, 'static/rsg/css', false, OFFLINE);
		for (const fname of JS_FILES) scriptLoader(fname, 'static/rsg/js', false, OFFLINE);
		for (const fname of JS_LOBBY) scriptLoader(fname, 'static/front/js', false, OFFLINE);

	</script>
	<!-- #endregion loading -->

	<!-- #region HTML -->
	<!-- login -->
	<div id="a_d_login" class="layout_login">
		<div class='logo'>⛱</div>
		<div id='login_message'>welcome! please, log in</div>
		<form id="login_form">
			<input id="login" type='text' autocomplete="on" title="login" placeholder="username" />
			<button id="bLogin" class='buttonLikeLink'>login</button>
		</form>

	</div>

	<!-- lobby -->
	<div id="a_d_lobby" class="layout_lobby" style='display:none'>
		<div id="a_d_header_lobby">
			<h1 class='pageTitle'>Lobby</h1>
			<div class='logo'>⛱</div>
			<div id='loginHeader' style='font-size:14px;float:right'>
				<span id='hUsername'></span>
				<span id='bLogout' style='text-decoration:underline;color:blue;cursor:pointer;margin-right:8px'>logout</span>
			</div>
		</div>

		<div id="a_d_status_lobby">
			<div class="chat_container">
				<ul id="events" class='eventList'></ul>
				<div id='status_message'></div>
				<div class="controls">
					<div class="button_wrapper">
						<button id='bJoinGame' class='button'>join game</button>
						<button id='bCreateGame' class='button'>create game</button>
					</div>
				</div>
			</div>
		</div>

		<div id='a_d_chat'>
			<div class="chat_container">
				<ul id="chatEvent" class='eventList'><li>hallo</li></ul>
				<div class="controls">
					<div class="chat_wrapper">
						<form id="chat_form">
							<input id="chat" autocomplete="off" title="chat" />
							<button id="say" class='button'>Say</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div id='a_d_footer'></div>

	</div>

	<!-- game -->
	<div id="R_d_root" class="layout1" style='display:none;'>
		<div id="a_d_header" class="area">
			<div id='a_d_outerDivGameName' style='float:right;margin:4px;color:dimgray;'>
				Game:
				<div id='a_d_divGameName' class='header_name'>Catan</div>
			</div>
			<div id='a_d_divPlayerNames' style='float:left;margin:4px 10px;color:dimgray'>
				Players:&nbsp;
			</div>
		</div>

		<div id="a_d_action_header" class="area">
			<p>actions</p>
		</div>
		<div id="a_d_status" class="area">
			<div id="c_d_statusText">status</div>
		</div>
		<div id="a_d_history_header" class="area">
			<p>log</p>
		</div>
		<div id="a_d_player_header" class="area">
			<p>players</p>
		</div>

		<div id="a_d_actions" class="area">
			<div id="a_d_divSelect" class="sidenav1"></div>
		</div>
		<div id="a_d_game" class="area"></div>
		<div id="a_d_player" class="area"></div>
		<div id="a_d_log" class="area"></div>

		<div id="a_d_buttons" class="area">
			<button onclick="onClickToggleButton(this,[['view:default',fullViewObjects],['view:minimized',minimizeObjects]])">view:default</button>
			<button onclick="onClickRestart()">restart</button>
			<!-- <button onclick="onClickRemoveInteraction()">- inter</button>
				<button onclick="onClickAddInteraction()">+ inter</button>
				<button onclick="onClickRemoveActions()">- actions</button>
				<button onclick="onClickAddActions()">+ actions</button>
				<button onclick="onClickRemoveDefaultObjects()">- objects</button>
				<button onclick="onClickAddDefaultObjects()">+ objects</button>
				<button onclick="onClickRemoveDefaultPlayers()">- players</button>
				<button onclick="onClickAddDefaultPlayers()">+ players</button> -->
			<br />
			<br />
			<!-- <button onclick="_mStart('tictactoe')">tic tac toe</button>
				<button onclick="_mStart('catan') ">catan</button> -->
			<br />
			<br />
			<button id='c_b_Step' onclick="if (FLASK) onClickStep(); else console.log('set FLASK=true in game.html!');">STEP</button>
			<button id='c_b_RunToEnd' onclick="onClickRunToEnd()">run to end</button>

			<!-- <button id='c_b_ShowEvents' onclick="onClickToggle(this,'showEvents')">+ show events</button> -->
			<button id='c_b_Pass' class='hidden' onclick="onClickPass()">pass</button>
			<div id='tempFreezer' class='hidden'>
				<h1>processing...</h1>
				<button id='bStop' class='buttonSpecial' onclick="onClickStop()">STOP!</button>

			</div>
		</div>
		<div id="a_d_testing" class="area">
			<div class="tab">
				<button id='c_b_London' class="tablinks active" onclick="openTabTesting('London')">objects</button>
				<!-- <button id='c_b_Vienna' class="tablinks" onclick="openTabTesting('Vienna')">players</button> -->
				<button id='c_b_Redmond' class="tablinks" onclick="openTabTesting('Redmond')">main menu</button>
				<button id='c_b_Paris' class="tablinks" onclick="openTabTesting('Paris')">editor</button>
				<button id='c_b_Seattle' class="tablinks" onclick="openTabTesting('Seattle')">settings</button>
				<button id='c_b_Tokyo' class="tablinks" onclick="openTabTesting('Tokyo')">DIV</button>
				<button id='c_b_Bangor' class="tablinks" onclick="openTabTesting('Bangor')">G</button>
			</div>
			<!-- keep this in block display! set default opened tab in settings.js -->
			<div id="a_d_London" class="tabcontent" style="display:block">
				<div id='a_d_objects' class='divInTab' style='position:absolute;left:1%;top:6%;width:98%;height:92%;margin:0;padding:0;'>
					<!-- <svg width='98%' height='92%' style='margin:0;padding:0;position:absolute;top:6%;left:1%;'>
							<g id='go'></g>
						</svg> -->
				</div>
			</div>

			<!-- <div id="a_d_Vienna" class="tabcontent">				<div id='a_d_players' class='divInTab'>				</div>			</div> -->

			<div id="a_d_Redmond" class="tabcontent">
				<div class='divInTab' id='a_d_main_menu'>
					<fieldset id='fUsername'>
						<legend>username</legend>
						<input class='radio' id='c_b_mm_felix' type="radio" name="username" value="felix" onclick='setUsername(this)'>felix<br>
						<input class='radio' id='c_b_mm_amanda' type="radio" name="username" value="amanda" onclick='setUsername(this)'>amanda<br>
						<input class='radio' id='c_b_mm_lauren' type="radio" name="username" value="lauren" onclick='setUsername(this)'>lauren<br>
						<input class='radio' id='c_b_mm_anuj' type="radio" name="username" value="anuj" onclick='setUsername(this)'>anuj<br>
						<input class='radio' id='c_b_mm_taka' type="radio" name="username" value="taka" onclick='setUsername(this)'>taka<br>
						<input class='radio' id='c_b_mm_dwight' type="radio" name="username" value="dwight" onclick='setUsername(this)'>dwight<br>
					</fieldset>
					<fieldset id='fChooseGame'>
						<!-- TODO: dynamically from server: available_games!!! -->
						<legend>choose game</legend>
						<input class='radio' id='c_b_mm_ttt' type="radio" name="game" value="ttt" onclick='setGame(this)'>tic tac toe<br>
						<input class='radio' id='c_b_mm_catan' type="radio" name="game" value="catan" onclick='setGame(this)'>catan<br>
						<br />
						<br />
					</fieldset>
					<fieldset id='fChooseMode'>
						<legend>play mode</legend>
						<input class='radio' id='c_b_mm_solo' type="radio" name="playMode" value="solo" onclick='setPlayMode("solo")'>solo<br>
						<input class='radio' id='c_b_mm_hotseat' type="radio" name="playMode" value="hotseat" onclick='setPlayMode("hotseat")'>hotseat<br>
						<input class='radio' id='c_b_mm_multiplayer' type="radio" name="playMode" value="multiplayer" onclick='setPlayMode("multiplayer")'>multiplayer<br>
					</fieldset>
					<fieldset id='fCommand'>
						<br />
						<br />
						<button id='c_b_join' style='padding:12px;font-size:24px;' onclick="onClickJoinGame()">join game</button>
						<button id='c_b_reset' style='padding:12px;font-size:24px;' onclick="onClickCreateGame()">create game</button>
						<!-- <button onclick="onClickCreateGame()">create game</button> -->
						<br />
						<br />
						<!-- <button onclick="onClickJoinGame()">join game</button> -->
					</fieldset>
				</div>
			</div>
			<div id="a_d_Paris" class="tabcontent">
				<div class='divInTab' id='a_d_editor'></div>
			</div>

			<div id="a_d_Seattle" class="tabcontent">
				<div class='divInTab' id='a_d_settings'>
					<fieldset id='a_d_autoplay_buttons'>
						<legend>autoplay</legend>
						<button id='c_b_NextPlayer' onclick="onClickRunToNextPlayer()">next player</button>
						<button id='c_b_NextTurn' onclick="onClickRunToNextTurn()">next turn</button>
						<br />
					</fieldset>
					<fieldset>
						<legend>miscellaneous</legend>
						<button id="c_b_TTip" onclick="toggleTooltips(this)">tooltips: OFF</button>
						<br />
						<br />
						<button onclick="colorSystem()">new colors</button>
					</fieldset>
				</div>
			</div>

			<div id="a_d_Tokyo" class="tabcontent">
				<div id='a_d_div_testing' class='divInTab'></div>
			</div>
			<div id="a_d_Bangor" class="tabcontent">
				<div id='a_d_G_tester' class='divInTab'>
					<svg class='hidden' width='98%' height='92%' style='margin:0;padding:0;position:absolute;top:6%;left:1%;'>
						<defs>
							<pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
								<image xlink:href="/static/front/assets/wood1.jpg" x="0" y="0" width="300" height="200" />
							</pattern>
						</defs>
						<g id='a_g_testing'>
							<circle cx="50" cy="50" r="50" fill="yellow" />
						</g>
					</svg>
					<svg height="100" width="100" class='hidden'>
						<circle cx="50" cy="50" r="50" fill="url(#img1)" />
					</svg>
				</div>
			</div>
		</div>
		<!-- <div id="a_d_options" class="area">
			</div> -->
	</div>

	<div id="tooltip" class="tooltip" style='position:fixed;'>
	</div>
	<div id='freezer' style='display:none;'>
		<h1>NOT YOUR TURN!!!</h1>

	</div>
	<!-- #endregion HTML -->

	<!-- <script src="/socket.io/socket.io.js"></script> -->


	<!-- <script>colorAreasRandomBlend('area', 'R_d_root');</script> -->

</body>

</html>